.container {
  width: 350px;
  height: 500px;
  background-color: gray;
  display: flex;
  /* 주축방향  */
  flex-direction: row;
  /* 주축 방향에 대해 어떻게 정렬할 건지 */
  /* space-evenly, space-between etc... */
  justify-content: space-evenly;
  /* flex box와 높이를 맞춤 center, flex-start, end 로도 할 수 있다. */
  align-items: stretch;
}

.item {
  /* width: 100px;
  height: 100px; */
  background-color: red;
  border: 1px solid black;
}
